<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="tabla-dos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `tabla-dos`
     * Segunda tabla
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TablaDos extends Polymer.Element {
      static get is() { return 'tabla-dos'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'tabla-dos'
          }
        };
      }
    }

    window.customElements.define(TablaDos.is, TablaDos);
  </script>
</dom-module>
