<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="tabla-dos">
  <template>
    <style>
      :host {
        display: block;
      }
      table{
        width: 500px;
        background-color: #468698;
        border-spacing:none;
        margin: 30px;
        border-radius: 5px;
      }
      tr{
        background-color:#468698;
        height: 20px;
      }
      td{text-align: center}
      h2{text-align: center}
      section{
        height: 250px; 
      }
    </style>
    <h2>Tabla Secundaria</h2>
    <section>
      <table>
        <thead>
          <tr>
            <td>ID</td>
            <td> DATES </td>
            <td> DESCRIPTION </td>
            <td> ACCOUNT </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>

    </section>
  </template>

  <script>
    /**
     * `tabla-dos`
     * Segunda tabla
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TablaDos extends Polymer.Element {
      static get is() { return 'tabla-dos'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'tabla-dos'
          }
        };
      }
    }

    window.customElements.define(TablaDos.is, TablaDos);
  </script>
</dom-module>
